body{
    margin: 0;
   
}
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 70%;
    z-index: -1;
}
.nav-bar{
    position: absolute;
    top: 0;
    padding-top: 5px;
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    /* right: 10px; */
    height:40px;
    font-size: 20px;
    background-color: rgba(228, 236, 235, 0.2);
}
.Landing{
    background-size: 100%;
    height: 100vh;
}
.heading{
    position:absolute;
    top: 0;
    left: 23%;
    text-align: center;
    padding-top: 10%;
    font-size: 25px;
    color:black;
    
}
.para{
    text-wrap:balance;
    position: absolute;
    top: 50%;
    left: 0;
    color: black;
    font-size: 20px;
    font-style: italic;
}

.register{
    position: absolute;
    top:80% ;
    margin-left: 35%;
    margin-right: 45%;
    background-color: green;
    color: black;
    border-radius: 25px;
    padding: 8px 35px;
    cursor: pointer;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 20px;
}
.card{
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card button{
    background-color: green;
    margin: 0 70px 20px 70px;
    border-radius: 20px;
    cursor: pointer;
}
.card:hover{
    width: 400px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.6);
}
.card button:hover{
    margin: 0 60px 20px 60px;
    border-radius: 30px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.review{
    display: flex;
    background-color: antiquewhite;
    flex-wrap: wrap;
    width: 500px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 5px 5px 5px 10px;
}
.review:hover{
    width: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  rgba(0,0,0,0.6);
}
footer{
    background-color: rgb(88, 119, 119);
    width: 100%;
    text-align: center;
}